**/__pycache__/*
.vscode/
.env/
.pytest_cache/
.pytest_temp/

*.egg-info

experiments/runs/*
!experiments/runs/.gitkeep
experiments/reports/*
!experiments/reports/.gitkeep
experiments/figures/*
!experiments/figures/.gitkeep
